html
  head
    title Clacks
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/list.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
  body
    nav
      div.nav-nav
        a(href="/")
          button.button.button-link back
      div.nav-title    
        h1 Clacks content
      div.nav-page-actions
        a(href="/clacks/create")
          button.button.button-create create
    h2 List
    ol.content-list#clacks-list
      for clack in clacks
        li.content-item.clack
          a(href="/clacks/#{clack._id}/details")
            p #{JSON.stringify(clack, null, '\t')}
          p
            a(href="/clacks/#{clack._id}/update")
              button.button.button-update update
            a(href="/clacks/#{clack._id}/delete")
              button.button.button-delete delete
      else
        li.error.error#no-clacks sorry, no clacks!
