html
  head
    title Delete Clack #{clack._id}
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/delete.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
    script(src='/javascripts/update-clacks.js')
  body
    a(href="/clacks")
      button(testsautoid="btn-to-clacks-list").button.button-link back
    h1 Delete Clack
    p #{JSON.stringify(clack)}
    p(testsautoid="are-you-sure") Are you sure ?
    p
      a(href="/clacks")
        button.button.button-delete(type='button', testsautoid="not-sure") No
      a(href="/clacks/#{clack._id}/delete")
        button.button.button-create(type='button', testsautoid="sure") Yes
