html
  head
    title Delete Clacks
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/delete.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
  body
    a(href="/clacks")
      button#btn-to-clacks-list.button.button-link back
    h1 Delete Clacks
    p#are-you-sure Are you sure ?
    p
      a(href="/clacks")
        button#not-sure.button.button-delete(type='button') No
      a(href="/clacks/delete_all")
        button#sure.button.button-create(type='button') Yes
