html
  head
    title Delete Clack #{clack._id}
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/delete.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
    script(src='/javascripts/update-clacks.js')
  body
    a(href="/clacks")
      button#btn-to-clacks-list.button.button-link back
    h1 Delete Clack
    p #{JSON.stringify(clack)}
    p#are-you-sure Are you sure ?
    p
      a(href="/clacks")
        button#not-sure.button.button-delete(type='button') No
      a(href="/clacks/#{clack._id}/delete")
        button#sure.button.button-create(type='button') Yes
