html
  head
    title Error
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    h1(testsautoid="error-msg") #{message}
    h2(testsautoid="error-status")= error.status
    pre(testsautoid="error-stack") #{error.stack}
