html
  head
    title Error
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    h1(testsAutoId="error-msg") #{message}
    h2(testsAutoId="error-status")= error.status
    pre(testsAutoId="error-stack") #{error.stack}
