doctype html
html
  head
    title ClickClack
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    h1(testsAutoId="home-title")#title ClickClack
    div(testsAutoId="home-intro")#intro
      h2 Introduction
      p Welcome to ClickClack !
      p ClickClack is a website sample.
      p ClickClack website is using ClickClack API.
    div(testsAutoId="home-content")#content
      h2 Content
      p In ClickClack you can:
      ul(testsAutoId="home-content-list")#content-list
        li.content-list-item
          | CRUD clacks (goto =>
          a(href="/clacks")
            button(testsAutoId="btn-to-clacks-list").button.button-link /clacks
          | )
      div(testsAutoId="home-content-info")#content-info
        p
          i clacks are free form data
        p
          i CRUD = Create + Read + Update + Delete
