<!-- //- FILE
//- .views/clacks-delete.html
//- -------------------------------------------
//- DESCRIPTION
//- confirmation page to delete a given clack
//- -------------------------------------------
//- INSTRUCTIONS
//- use classes for CSS
//- use ids for automation
//- use '_' instead of '-'
//- be simple ! (avoid big files and complex names + comment the code)
//- ------------------------------------------- -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8">
    <title>Delete Clack <%= clack._id %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <ul class="nav">
      <li><a href="/clacks" id="lnk_clacks">[ <-- ]</a></li>
    </ul>
    <div class="main">
      <h3>Delete Clack <i><%= clack._id %></i> ?</h3>
      <p>Are you sure ?</p>
      <a href="/clacks" id="lnk_clacks"><button type="button" id="not_sure">[ <-- ]</button></a>
      <a href="/clacks/<%= clack._id %>/delete/confirm" id="lnk_clack_delete_confirm"><button type="button" id="sure">[ &#10004; ]</button></a>
    </div>
    <div class="footer">
      <a href="https://github.com/thorium-e2e/clickclack-web" id="lnk_source">View Source</a>
    </div>
  </body>
</html>
