<!-- //- FILE
//- .views/home.html
//- -------------------------------------------
//- DESCRIPTION
//- Index page of ClickClack Web
//- -------------------------------------------
//- INSTRUCTIONS
//- use classes for CSS
//- use ids for automation
//- use '_' instead of '-'
//- be simple ! (avoid big files and complex names + comment the code)
//- ------------------------------------------- -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8">
    <title>ClickClack</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h3>Welcome to ClickClack</h3>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <p>This application is for sample and training purpose only.</p>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <p>Create, Read, Update and Delete free-form data named "clacks".</p>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <a href="/clacks" id="lnk_clacks" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">clacks</a>
    </div>
  </body>
</html>
