<!-- //- FILE
//- .views/home.html
//- -------------------------------------------
//- DESCRIPTION
//- Index page of ClickClack Web
//- -------------------------------------------
//- INSTRUCTIONS
//- use classes for CSS
//- use ids for automation
//- use '_' instead of '-'
//- be simple ! (avoid big files and complex names + comment the code)
//- ------------------------------------------- -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8">
    <title>ClickClack</title>
  </head>
  <body>
    <ul class="nav">
    </ul>
    <hr />

    <div class="main">
      <h3>Welcome to ClickClack</h3>
      <ul>
        <li><a href="/clacks">--> CLACKS</a></li>
      </ul>
    </div>
    <hr />

    <div class="footer">
      <a href="https://github.com/thorium-e2e/clickclack-web">View Source</a>
    </div>
  </body>
</html>
